/*CSS SPRITE*/

*{margin:auto 0; padding: 0px; font-family: Verdana, Arial, Helvetica, sans-serif;}

#Menu ul li {display: inline;}

#Menu ul li a{
	float: left;
	width: 82px;
	height: 78px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-image:url(images/background_menu.bmp)
}

#Menu ul li.Home a{background-position: 0px 0px}
#Menu ul li.Agenda a{background-position: -91px 0px;}
#Menu ul li.Contato a{background-position: -181px 0px;}

#Menu ul li.Home a:hover{background-position: 0px -78px}
#Menu ul li.Agenda a:hover{background-position: -91px -78px;}
#Menu ul li.Contato a:hover{background-position: -181px -78px;}
